/* line 1, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
body {
  background: #423526;
  /* 	SAL: Need to fix this for smaller screens */
  padding-top: 180px;
}

@media screen and (max-width: 768px) {
  /* line 6, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
  body {
    padding-top: 60px;
  }
}
/* line 11, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
.home-portal-img {
  width: 200px;
  height: 200px;
}

/* SAL: for the love of god could not find what variable controls these in _variables.scss */
/* line 19, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
h2 {
  color: #200808;
}

/* line 23, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
p {
  color: #7F8A63;
}

/* line 29, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
hr.featurette-divider {
  border-color: #200808;
}

/* .container {

	border: 1px solid black;
}
.row {

	border: 1px solid red;
} */
