/* line 1, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
body {
  background: #423526;
  /* 	SAL: Need to fix this for smaller screens */
  padding-top: 180px;
}

@media screen and (max-width: 768px) {
  /* line 6, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
  body {
    padding-top: 60px;
  }
}
/* line 11, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#artCarouselBox {
  border: 1px solid black;
  background: #200808;
  padding: 2%;
}

/* line 17, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
.regular_body {
  padding-top: 50px;
}

/* SAL: overriding bootstrap */
/* line 23, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
.home-portal-img {
  width: 200px;
  height: 200px;
}

/* line 28, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
label {
  color: #7F8A63;
}

/* SAL: for the love of god could not find what variable controls these in _variables.scss */
/* line 36, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
h2 {
  color: #200808;
}

/* line 40, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
p {
  color: #7F8A63;
  font-size: 1.2em;
}

/* line 45, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
hr.featurette-divider {
  border-color: #200808;
}

/* line 49, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
.featurette-image {
  margin-top: 5%;
}

/* line 53, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#homeresumeLink {
  color: darkred;
  background: #7F8A63;
  padding: 4px;
  border-radius: 4px;
}

/* line 60, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body {
  border-radius: 4px;
  width: 80%;
  background: #7F8A63;
  margin-left: auto;
  margin-right: auto;
  color: #200808;
  padding: 5%;
  margin-top: -5%;
  margin-bottom: 5%;
}
/* line 70, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body p {
  color: #200808;
  font-size: 1em;
}
/* line 74, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body .resume_section {
  margin-left: 3%;
  margin-right: 3%;
}
/* line 78, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body h3 {
  margin-bottom: 3%;
  margin-top: 3%;
}
/* line 82, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body .resume_address {
  font: em;
}
/* line 85, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body h4 {
  margin-bottom: 1%;
  margin-top: 3%;
}
/* line 89, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body .resumeLink {
  color: darkred;
  background: #7F8A63;
}
/* line 93, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
#resume_body .resumeTitle {
  font-weight: bold;
  font-style: italic;
}

/* SAL: this overrides the featurette -about-contact headings in carousel.css */
@media (min-width: 992px) {
  /* line 102, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/sleamerstyle.scss */
  .featurette-heading {
    margin-top: 20px;
  }
}
